@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

body {
  color: #222;
  font-size: 14px;
  font-family: "Inconsolata","Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Maru Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  background: url(../img/grid.png) center top;
}

a {
  color: #999;
}

a:hover {
  color: #666;
}

/* Components =============================================================== */

* {
  box-sizing: border-box;
}

h2 {
  margin: 40px 0 0;
  font-size: 18px;
  line-height: 40px;
}

h3 {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

p, ul {
  margin: 0 0 20px;
  line-height: 20px;
}

hr {
  margin: 10px 0 9px;
  border: none;
  border-top: 1px solid #e0e0e0;
}

address {
  line-height: 20px;
}

/* .list-accounts ----------------------------------------------------------- */

.list-accounts {
  padding: 0;
  list-style: none;
}

.list-accounts li {
  float: left;
  font-size: 20px;
}

.list-accounts li:not(:first-child) {
  margin-left: 10px;
}

/* .list-skills ------------------------------------------------------------- */

.list-skills {
  padding: 0;
  list-style: none;
}

.list-skills li {
  display: inline;
}

.list-skills li:after {
  content: ",";
}

.list-skills li:nth-last-child(2):after,
.list-skills li:last-child:after {
  content: none;
}

/* .works-app --------------------------------------------------------------- */

.works-app {
  position: relative;
  margin: 0 0 20px;
  padding: 0 0 0 80px;
  min-height: 60px;
}

.works-app .appname {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.works-app .appicon {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.works-app .appicon img {
  vertical-align: bottom;
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.works-app .applink {
  margin: 0;
  padding: 5px 0;
}

.works-app .applink a {
  height: 30px !important;
  width: calc(135px * (30 / 40)) !important;
  vertical-align: bottom;
}

/* .list-presentations ------------------------------------------------------ */

.list-presentations {
  padding: 0;
  margin: 0 -10px 20px;
  list-style: none;
}

.list-presentations li {
  float: left;
  margin: 20px 0 0;
  padding: 0 10px;
  width: 50%;
}

.list-presentations li:first-child,
.list-presentations li:nth-child(2) {
  margin-top: 0;
}

.list-presentations li iframe {
  vertical-align: bottom;
}

@media all and (max-width: 430px) {
  .list-presentations li {
    width: 100%;
  }
  .list-presentations li:nth-child(2) {
    margin-top: 20px;
  }
}

/* Utilities ================================================================ */

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

/* Layout =================================================================== */

#wrapper {
  margin: 0 auto;
  padding: 40px 20px;
  max-width: 840px;
}

#header h1 {
  float: left;
  margin: 0 0 20px;
  font-size: 32px;
  line-height: 40px;
}

#header .list-accounts {
  float: right;
  margin: 0 0 20px;
  line-height: 40px;
}

#header .lead {
  clear: both;
  margin: 0;
}

#footer {
  margin: 50px 0 0;
}

#footer address {
  float: left;
}

#footer .pubdate {
  float: right;
  margin: 0;
  color: #999;
}

@media all and (max-width: 840px) {
  #footer address,
  #footer .pubdate {
    float: none;
  }
}
