---
layout: default
---

<h2>Profile</h2>

<div class="profile" itemscope itemtype="http://schema.org/Person">
  <p class="profile-image"><img itemprop="image" src="{{ '/assets/img/profile.jpg' | absolute_url }}" alt="Takeru Hirose" /></p>
  <div class="profile-text">
    <p><strong itemprop="name">Takeru Hirose</strong></p>
    <p itemprop="jobTitle">Software Engineer (Web Application)</p>
  </div>
</div>

<h3>Skills</h3>

<ul class="list-skills">
  <li><a href="https://www.ruby-lang.org/">Ruby</a>
    <ul>
      <li><a href="https://rubyonrails.org/">Ruby on Rails</a></li>
    </ul>
  </li>
  <li><a href="http://php.net/">PHP</a>
    <ul>
      <li><a href="https://laravel.com/">Laravel</a></li>
      <li><a href="https://wordpress.org/">WordPress</a></li>
    </ul>
  </li>
  <li><a href="https://developer.mozilla.org/docs/Web/JavaScript">JavaScript</a>
    <ul>
      <li><a href="https://reactjs.org/">React</a></li>
      <li><a href="https://redux.js.org/">Redux</a></li>
      <li><a href="https://vuejs.org/">Vue.js</a></li>
      <li><a href="https://vuex.vuejs.org/">Vuex</a></li>
      <li><a href="https://jquery.com/">jQuery</a></li>
    </ul>
  </li>
  <li><a href="https://developer.mozilla.org/docs/Web/HTML"><abbr title="HyperText Markup Language">HTML</abbr></a></li>
  <li><a href="https://developer.mozilla.org/docs/Web/CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a>
    <ul>
      <li><a href="http://sass-lang.com/">Sass</a></li>
      <li><a href="http://lesscss.org/">Less</a></li>
    </ul>
  </li>
  <!-- <li><a href="https://www.mysql.com/">MySQL</a></li> -->
  <!-- <li><a href="https://www.elastic.co/products/elasticsearch">Elasticsearch</a></li> -->
  <li><a href="https://www.docker.com/">Docker</a></li>
  <li><a href="https://aws.amazon.com/">Amazon Web Services (AWS)</a></li>
  <li>and more.</li>
</ul>

<h3>Interests</h3>

<ul class="list-skills">
  <li>Product Management</li>
  <li>Domain-Driven Design (DDD)</li>
  <li>Design Guidelines / Systems</li>
  <li>Human-Centered Design (HCD)</li>
  <li><abbr title="User Experience Design">UX</abbr> Design</li>
  <li>Information Architecture (IA)</li>
  <li>and more.</li>
</ul>

<h3>Experience</h3>

<ul>
  <li>Developed web applications. (Frontend, backend and infrastructure)</li>
  <li>Built a design team, and led a project developing design guidelines.</li>
  <li>Developed and released iOS apps (personal work).</li>
</ul>

<h2>Presentations</h2>

<ul class="list-presentations">
  {% for item in site.data.presentations %}
  <li><a href="{{ item.url }}"><img src="{{ item.image }}" alt="{{ item.title }}" /></a></li>
  {% endfor %}
</ul>

<h2>Articles</h2>

<dl class="list-articles">
  {% for item in site.data.articles %}
  <dt><a href="{{ item.url }}">{{ item.title }}</a></dt>
  <dd><time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%b %d, %Y" }}</time> ({{ item.src }})</dd>
  {% endfor %}
</dl>

<h2>Interviews</h2>

<dl class="list-articles">
  {% for item in site.data.interviews %}
  <dt><a href="{{ item.url }}">{{ item.title }}</a></dt>
  <dd><time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%b %d, %Y" }}</time> ({{ item.src }})</dd>
  {% endfor %}
</dl>
